<nav class="navbar navbar-expand-xl navbar-dark" style="background-color: blue;">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">master data</a>
            </li> 
        </ul>
    </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h4>FORM DATA MAHASISWA</h4>
      <label for="nim">NIM</label>
      <input type="text" name="nim" id="nim" class="form-control" [(ngModel)]="nim">
      <label for="nim">NAMA</label>
      <input type="text" name="nama" id="nama" class="form-control" [(ngModel)]="nama">
      <label for="nim">KELAS</label>
      <input type="text" name="kelas" id="kelas" class="form-control" [(ngModel)]="kelas">
      <br/>
      <button class="btn btn-block btn-blue" (click)="tambahMhs()"style="background-color: blue;">TAMBAH MAHASISWA</button>
    </div>

    <div class="card-row" >
        <h4>DATA MAHASISWA</h4>
      <div class="card mb-4"  *ngFor="let mhs of daftarMhs" >
        <div class="card-body" >
          <h4 class="card-text">{{ mhs.nama }}</h4>
          <h5 class="card-text">{{ mhs.nim }}</h5>
          <h6 class="card-text">{{ mhs.kelas }}</h6>
        </div>
      </div>
      <!-- <div class="col-md-6" *ngFor="let mhs of daftarMhs">
        <h3>{{ mhs.nama }}</h3>
        <h4>{{ mhs.nim }}</h4>
        <h5> {{ mhs.alamat }} </h5>
      </div> -->
    </div>
  </div>
</div>
