<div class="">
  <div class="row">
    <div class="col-md-12">
      <!-- <nav class="navbar navbar-dark" style="background-color:rgb(69, 139, 245);">
          <a class="navbar-brand" href="#">Navbar</a> -->
          <!-- <h4> {{ title }} </h4> -->
          <!-- <span>master data</span>
      </nav> -->
      <!-- <nav class="navbar navbar-dark bg-primary">
           <h5>navbar</h5>
        </nav>
      <hr/> -->
      <!-- <app-servers></app-servers> -->
      <app-kuis1></app-kuis1>
      <!-- <div class="app-server"></div> -->
    </div>
  </div>
</div>

